<%- include('./partials/header') %>

<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1 class = "first">Running Tracker</h1>
  <p class = "second">Welcome</p>
</body>
</html>
